<div class="container-fluid show-bottom">
    <div class="row">
        <div class="col-md-3 d-flex justify-content-center mt-5" *ngFor="let book of books; index as i; first as isFirst" (click)="onShowDetail(book._id)">
            <div class="card" style="width: 18rem;">
                <img src={{book.image}} class="card-img-top image-size " alt="...">
                <div class="card-body">
                    <h5 class="card-title text-truncate">{{book.title}}</h5>
                    <p class="card-text text-truncate">Author: {{book.author}} </p>
                    <p>${{book.price}}</p>
                    <a href="#" class="btn btn-primary">Add Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>